[submodule "msdfgen"]
	path = msdfgen
	url = https://github.com/Chlumsky/msdfgen
[submodule "dependencies/freetype"]
	path = dependencies/freetype
	url = https://github.com/freetype/freetype.git
[submodule "dependencies/libpng"]
	path = dependencies/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "dependencies/zlib"]
	path = dependencies/zlib
	url = https://github.com/madler/zlib.git
